# TP1 – Analyse des données (IFT599 / IFT799)

**Auteurs :**  
-  
-  
-  3

**Date de remise :** 03 octobre 2025

In [15]:
import pandas as pd
import json
import numpy as np

## 2. Jeu de données

In [16]:


#  Chargement des fichiers de données 
transactions = pd.read_csv("data/transactions_data.csv")
cards = pd.read_csv("data/cards_data.csv")
users = pd.read_csv("data/users_data.csv")

fraud = pd.read_json("data/train_fraud_labels.json")
with open("data/mcc_codes.json", "r") as f:
    mcc_dict = json.load(f)
mcc = pd.DataFrame(list(mcc_dict.items()), columns=["mcc_code", "description"])

# Vérification rapide
print("Transaction", transactions.head(3))
print("cards",cards.head(3))

Transaction         id                 date  client_id  card_id   amount  \
0  7475327  2010-01-01 00:01:00       1556     2972  $-77.00
1  7475328  2010-01-01 00:02:00        561     4575   $14.57
2  7475329  2010-01-01 00:02:00       1129      102   $80.00

            use_chip  merchant_id merchant_city merchant_state      zip   mcc  \
0  Swipe Transaction        59935        Beulah             ND  58523.0  5499
1  Swipe Transaction        67570    Bettendorf             IA  52722.0  5311
2  Swipe Transaction        27092         Vista             CA  92084.0  4829

  errors
0    NaN
1    NaN
2    NaN
cards      id  client_id card_brand card_type       card_number  expires  cvv  \
0  4524        825       Visa     Debit  4344676511950444  12/2022  623
1  2731        825       Visa     Debit  4956965974959986  12/2020  393
2  3701        825       Visa     Debit  4582313478255491  02/2024  719

  has_chip  num_cards_issued credit_limit acct_open_date  \
0      YES                 2       $24295        09/2002
1      YES                 2       $21968        04/2014
2      YES                 2       $46414        07/2003

   year_pin_last_changed card_on_dark_web
0                   2008               No
1                   2014               No
2                   2004               No

In [17]:
print("users", users.head(3))

users      id  current_age  retirement_age  birth_year  birth_month  gender  \
0   825           53              66        1966           11  Female
1  1746           53              68        1966           12  Female
2  1718           81              67        1938           11  Female

                  address  latitude  longitude per_capita_income  \
0           462 Rose Lane     34.15    -117.76            $29278
1  3606 Federal Boulevard     40.76     -73.74            $37891
2         766 Third Drive     34.02    -117.89            $22681

  yearly_income total_debt  credit_score  num_credit_cards
0        $59696    $127613           787                 5
1        $77254    $191349           701                 5
2        $33483       $196           698                 5

In [18]:
print("fraud", fraud.head(3))
print("mcc", mcc.head(3))

fraud          target
10649266     No
23410063     No
9316588      No
mcc   mcc_code                           description
0     5812         Eating Places and Restaurants
1     5541                      Service Stations
2     7996  Amusement Parks, Carnivals, Circuses